{% extends 'user/home.html' %}
{% load static %}
{% block content %}
    <section id="signin-form" >

        <div class="container">
            <a href="{% url 'user_cart' %}"><button class="back-btn py-5">Back</button></a>
            <div class="row pt-3">
                <p class="col-lg-12 d-flex justify-content-start" ><strong>Payment Method</strong></p>
            </div>
            <br>
            <div class="row pt-3">
                <div class="col-lg-3 pt-3">
                    <a href="{% url 'cash_on' %}"><button  class="btn-payment">Cash-on Delivery</button></a>
                </div>
                <div class="col-lg-3 pt-3">
                    <a href="{% url 'credit_debit' %}"><button  class="btn-payment">Credit/Debit Card</button></a>
                </div>
                <div class="col-lg-3 pt-3">
                    <button  class="btn-active">E-Wallet</button>
                </div>
            </div>
            <br>
            <div class="row pt-5">
                <div class="col-lg-3">
                    <p>Select Payment According</p>
                </div>
                <div class="col-lg-12">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                      <label class="custom-control-label px-4" for="customRadioInline2">G-Cash</label>
                    </div>
                </div>
            </div>


            <br><br>
            <div class="col-lg-12 pt-5 fb-5">
                         <div class="d-flex justify-content-end pt-5">
                            <div class="p-2 bd-highlight">
                                <h2 style="font-size: 20px">Total( 2 Items): ₱ 698.00</h2>
                            </div>
                            <div class="p-2 bd-highlight">
                                <a href="{% url 'to_receive' %}"><button  class="btn-add-to-cart">Place Order</button></a>
                            </div>
                        </div>
                </div>



        </div>
    </section>
{% endblock content %}
