{% extends 'user/home.html' %}
{% load static %}
{% block content %}
<section id="to_receive">

        <div class="container py-5">
            <div class="row">
                    <div class="row col-lg-3">
                            <div class="col-lg-3">
                                <img class="img-fluid rounded-circle" src="{% static 'images/persons/Juan.png' %}">
                            </div>
                            <div class="col-lg-9">
                               <p>Juan Dela Crush</p>
                               <br>
                               <a class="view_link pt-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><p>My Account</p></a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                        <li><a class="dropdown-item" href="{% url 'banks' %}">Banks & Cards</a></li>
                                        <li><a class="dropdown-item" href="{% url 'address' %}">Address</a></li>
                                        <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
                                      </ul>


                                <a class="view_link" href="#"><p style="font-size: 15px;"><strong>My Purchase</strong></p></a>
                                <a class="view_link" href="{% url 'home' %}"><p>Logout</p></a>
                            </div>
                    </div>
                    <div class="col-lg-9 ">
                        <div class="row col-lg-12 border rounded py-2 px-3">
                            <div class="col-lg-2 pt-2"><p>All</p></div>
                            <div class="col-lg-2 pt-2"><p>To Pay</p></div>
                            <div class="col-lg-2 pt-2"><p>To Ship</p></div>
                            <div class="col-lg-3 pt-2"><p>To Receive</p></div>
                            <div class="col-lg-3 pt-2"><p><strong>Completed</strong></p></div>
                        </div>
                        <br>
                <div class="row col-lg-12 border rounded">
                <div class="row p-3">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-check pt-2">

                                    <img id="cart-image" class="rounded mx-auto d-block" src="{% static 'images/products/4.png' %}">

                                </div>
                            </div>

                            <div class="col-lg-6 col-md-4 py-3">
                                  <p><strong>Premium Green Tea</strong></p>
                                  <p style="font-size:12px;, margin:0;, padding: 0;">50 Bags per Box</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-2 pt-3">
                        <p>₱ 243.00</p>
                    </div>

                    <div class="col-lg-2 pt-3">
                        <p>1</p>
                    </div>

                    <div class="col-lg-2 pt-3">
                        <p>₱ 243.00</p>
                    </div>

                </div>

                   <div class="row p-3">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-4">
                                <div class="form-check">
                                    <img id="cart-image" class="rounded mx-auto d-block" src="{% static 'images/products/1.png' %}">

                                </div>
                            </div>

                            <div class="col-lg-6 py-3">
                                  <p><strong>Chamomile Tea</strong></p>
                                  <p style="font-size:12px;, margin:0;, padding: 0;">50 Bags per Box</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-2 pt-3">
                        <p>₱ 355.00</p>
                    </div>

                    <div class="col-lg-2 pt-3">
                        <p>1</p>
                    </div>

                    <div class="col-lg-2 pt-3">
                        <p>₱ 355.00</p>
                    </div>

                </div>

                </div>
                <br><br>

                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Merchandise Total</p>
                            <p>Shipping</p>
                            <p>Order Total</p>
                        </div>
                         <div class="col-lg-4">
                            <p>₱ 598.00</p>
                            <p>₱ 100.00</p>
                            <p>₱ 698.00</p>
                        </div>
                        <div class="col-lg-12 py-5">
                             <div class="row d-flex justify-content-end">
                                 <div class="col-lg-12 d-flex justify-content-end ">
                                     <p class="py-4 px-4">Order Total:  <strong>P 698.00</strong></p>
                                    </div>
                                    <div class="col-lg-3 d-flex justify-content-end">
                                        <a href="{% url 'user_cart' %}"><button class="btn-buy-again">Buy Again</button></a>
                                    </div>
                                 <div class="col-lg-3 d-flex justify-content-end">
                                     <a href="{% url 'user_contact_us' %}"><button  class="btn-contact-us">Contact Us</button></a>
                                    </div>
                                 <div class="col-lg-3 d-flex justify-content-end">
                                     <button type="button" data-toggle="modal" data-target="#modal-credit-form" class="btn-add-credit">Rate</button>
                                    </div>
                             </div>

                    </div>
                </div>

                     <!-- Modal -->
            <div class="modal fade" id="modal-credit-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row d-flex justify-content-center">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <p>Rate Product</p>
                    </div>
                    <div class="row col-lg-12">
                <div class="row p-3">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-check pt-2">

                                    <img id="cart-image" class="rounded mx-auto d-block" src="{% static 'images/products/4.png' %}">

                                </div>
                            </div>

                            <div class="col-lg-6 col-md-4 py-3">
                                  <p><strong>Premium Green Tea</strong></p>
                                  <p style="font-size:12px;, margin:0;, padding: 0;">50 Bags per Box</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-2 pt-3">
                        <p>₱ 243.00</p>
                    </div>

                    <div class="col-lg-2 pt-3">
                        <p>1</p>
                    </div>

                    <div class="col-lg-2 pt-3">
                        <p>₱ 243.00</p>
                    </div>

                    <div class="row col-lg-12  py-3">
                        <div class="col-lg-12 d-flex justify-content-end">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <br>
                    <div class="col-lg-12  d-flex justify-content-center pt-3">
                        <input type="text" class="form-control pt-2" id="text" placeholder="Message here...">
                        </div>
                    <br>
                    <div class="col-lg-12  d-flex justify-content-end pt-3">
                        <a href="{% url 'credit_debit' %}"><button  class="btn-contact-us py-2"><i class="bi bi-camera"></i></button></a>
                    </div>


                </div>

                   <div class="row p-3">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-4">
                                <div class="form-check">
                                    <img id="cart-image" class="rounded mx-auto d-block" src="{% static 'images/products/1.png' %}">

                                </div>
                            </div>

                            <div class="col-lg-6 py-3">
                                  <p><strong>Chamomile Tea</strong></p>
                                  <p style="font-size:12px;, margin:0;, padding: 0;">50 Bags per Box</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-2 pt-3">
                        <p>₱ 355.00</p>
                    </div>

                    <div class="col-lg-2 pt-3">
                        <p>1</p>
                    </div>

                    <div class="col-lg-2 pt-3">
                        <p>₱ 355.00</p>
                    </div>

                     <div class="row col-lg-12  py-3">
                        <div class="col-lg-12 d-flex justify-content-end">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>

                </div>
                        <br>
                    <div class="col-lg-12  d-flex justify-content-center pt-3">
                        <input type="text" class="form-control pt-2" id="text" placeholder="Message here...">
                        </div>
                    <br>
                    <div class="col-lg-12  d-flex justify-content-end pt-3 pb-3">
                        <a href="{% url 'credit_debit' %}"><button  class="btn-contact-us py-2"><i class="bi bi-camera"></i></button></a>
                    </div>
                        <br>

                </div>

                    <div class="row pt-5 d-flex justify-content-end">
                        <div class="col-lg-3  col-md-6 col-3">
                            <button  type="button" class="btn-buy-now" data-dismiss="modal">cancel</button>
                        </div>
                        <div class="col-lg-3 col-md-6 col-3">
                           <button type="button" data-dismiss="modal" class="btn-add-to-cart">Submit</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
</section>
{% endblock content %}