{% extends 'store/home.html' %}
{% load static %}
{% block content %}
    <section id="login">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 d-flex justify-content-center">
                    <p><strong>REGISTER</strong></p>
                </div>
                <div class="col-lg-4">
                <div class="col-lg-12 py-2">
                        <input type="email" class="form-control" placeholder="juan.delacrush@gmail.com">
                </div>
                <div class="col-lg-12 py-2">
                         <input type="password" class="form-control" placeholder="●●●●●●●●●●●●">
                </div>
                <div class="col-lg-12 py-2">
                        <a href="{% url 'reset' %}">Forgot your password?</a>
                </div>
                <div class="col-lg-12 d-flex justify-content-center py-2">
                    <a href="{% url 'user_home' %}"><button class="btn-auth">Login</button></a>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}