{% extends 'store/home.html' %}
{% load static %}
{% block content %}
    <section id="reset">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 d-flex justify-content-center">
                    <p><strong>You successfully reset your password.</strong></p>
                </div>

                <div class="col-lg-12 d-flex justify-content-center py-2">
                    <a href="{% url 'login' %}">
                        <button class="btn-auth">Login</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}