{% extends 'store/home.html' %}
{% load static %}
{% block content %}
    <section id="reset">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 d-flex justify-content-center">
                    <p><strong>ENTER VERIFICATION CODE</strong></p>
                </div>
                <div class="col-lg-12 d-flex justify-content-center">
                            <p>We've sent you an email</p>
                        </div>
                <div class="col-lg-4">
                <div class="col-lg-12 py-2">
                        <input type="password" class="form-control" placeholder="●●●●●●●">
                </div>
                <div class="col-lg-12 d-flex justify-content-center py-2">
                    <a href="{% url 'reset_password' %}">
                        <button class="btn-auth">Verify</button>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}