{% extends 'user/home.html' %}
{% load static %}
{% block content %}
    <section id="view_prod">
        <div class="container">
            <a class="view_link" href="{% url 'user_butterfly' %}"><button class="back-btn py-5">Back</button></a>
        <div class="row">
            <div class="col-lg-6 pt-5">
                <img src="{% static 'images/products/3.png' %}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-6 pt-5">
                <p>HappyLife</p>
				<h6><strong>Butterfly Tea</strong></h6>
				<h6>₱ 350.00</h6>

                <a class="ratings" href="{% url 'user_butterfly' %}#reviews">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"> 1 review/s</i>

                </a>
                <br>
                <p class="pt-4">Description</p>
                <p>The impressive nutritional profile of butterfly tea makes
                    it a wonderful weight loss beverage, as well as a
                    refreshing drink to cool the body, when served
                    chilled. Being naturally caffeine-free and a
                    completely herbal concoction, blue tea
                    just like Green Tea is also a
                    powerhouse of antioxidants.

                    <br><br>
                    Benefits:  Boost brain health, Fight against cancers, Treats
                    internal inflammation, Helps in conjunctivitis, Lowers
                    blood pressure, Good for skin, Used for hair,
                    Help in digestion, Acts as an antidepressant,
                    Helps in pregnancy, Helps in diabetes,
                    For general pains and aches

                </p>
            </div>
        </div>
      </div>

    </section>
{% endblock content %}