{% extends 'user/home.html' %}
{% load static %}
{% block content %}
    <section id="view_prod">
        <div class="container">
            <a class="view_link" href="{% url 'user_products' %}"><button class="back-btn py-5">Back</button></a>
        <div class="row">
            <div class="col-lg-6 pt-5">
                <img src="{% static 'images/products/3.png' %}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-6 pt-5">
                <p>HappyLife</p>
				<h6><strong>Butterfly Tea</strong></h6>
				<h6>₱ 350.00</h6>

                <a class="ratings" href="#reviews">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"> 1 review/s</i>

                </a>
                <br>
                <p class="pt-4">Description</p>
                <p>The impressive nutritional profile of butterfly
                    tea makes it a wonderful weight loss beverage,
                    as well as a refreshing drink to cool the
                    body, when served chilled.
                    <br><br>
                    <a href="{% url 'user_butterfly_details' %}">See more...</a></p>

                 <div class="row">
                    <div class="col-lg-4 pt-3">
                        <p>Quantity</p>
                    </div>

                    <div class="col-lg-4 pt-3">
                        <div class="qty">
                            <span class="minus bg-dark">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-dark">+</span>
                        </div>
                    </div>

                    <div class="col-lg-4 pt-3">
                        <p>201 pieces available</p>
                    </div>

                    <div class="row pt-3">
                        <div class="col-lg- col-md-5 col-6">
                            <button  class="btn-add-to-cart">Add to Cart</button>
                        </div>
                        <div class="col-lg-4  col-md-5 col-6">
                            <button  class="btn-buy-now">Buy Now</button>
                        </div>
                    </div>
            </div>
            </div>
        </div>
      </div>
    </section>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <section id="reviews">

        <div class="container">

            <div class="row border rounded py-3 px-3">
                    <div class="row col-lg-3">
                        <div class="col-lg-12">
                            <p>5.0 out of 5</p>
                            <p>★★★★★</p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row col-lg-12">
                            <div class="col-lg-2"><p>All</p></div>
                            <div class="col-lg-2"><p>5 Star(1)</p></div>
                            <div class="col-lg-2"><p>4 Star(1)</p></div>
                            <div class="col-lg-2"><p>3 Star(1)</p></div>
                            <div class="col-lg-2"><p>2 Star(1)</p></div>
                            <div class="col-lg-2"><p>1 Star(1)</p></div>
                            <div class="col-lg-3"><p>With Comments</p></div>
                            <div class="col-lg-3"><p>With Media</p></div>
                        </div>
                     </div>
                </div>
            </div>

        <div class="container">
            <div class="row py-3 px-3">
                    <div class="row col-lg-1 pt-4">
                        <div class="col-lg-12 col-md-2 col-2">
                            <img class="img rounded-circle" src="{% static 'images/persons/Juan.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-11 pt-4">
                        <div class="row col-lg-12">
                           <p>Huaza Lee</p>
                           <p>★★★★★</p>
                           <p>2022-05-05 00:25 | 250 grams</p>
                           <p>Thank you HappyLife. Bought this during 5.5 sale and i am excited to  consume this.
                               It ships fast and I received the item. Thanks</p>
                            <div class="row col-lg-12">
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/13.png' %}">
                                </div>
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/14.png' %}">
                                </div>
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/15.png' %}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>

        <div class="container">
            <div class="row py-3 px-3">
                    <div class="row col-lg-1 pt-4">
                        <div class="col-lg-12 col-md-2 col-2">
                            <img class="img rounded-circle" src="{% static 'images/persons/Juan.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-11 pt-4">
                        <div class="row col-lg-12">
                           <p>Huaza Lee</p>
                           <p>★★★★★</p>
                           <p>2022-05-05 00:25 | 250 grams</p>
                           <p>Thank you HappyLife. Bought this during 5.5 sale and i am excited to  consume this.
                               It ships fast and I received the item. Thanks</p>
                            <div class="row col-lg-12">
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/13.png' %}">
                                </div>
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/14.png' %}">
                                </div>
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/15.png' %}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>

        <div class="container">
            <div class="row py-3 px-3">
                    <div class="row col-lg-1 pt-4">
                        <div class="col-lg-12 col-md-2 col-2 ">
                            <img class="img rounded-circle " src="{% static 'images/persons/Juan.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-11 pt-4">
                        <div class="row col-lg-12">
                           <p>Huaza Lee</p>
                           <p>★★★★★</p>
                           <p>2022-05-05 00:25 | 250 grams</p>
                           <p>Thank you HappyLife. Bought this during 5.5 sale and i am excited to  consume this.
                               It ships fast and I received the item. Thanks</p>
                            <div class="row col-lg-12">
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img rounded" src="{% static 'images/commentpics/13.png' %}">
                                </div>
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/14.png' %}">
                                </div>
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/15.png' %}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>

        <div class="container">
            <div class="row py-3 px-3">
                    <div class="row col-lg-1">
                        <div class="col-lg-12 col-md-2 col-2">
                            <img class="img rounded-circle" src="{% static 'images/persons/Juan.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-11 pt-4">
                        <div class="row col-lg-12">
                           <p>Huaza Lee</p>
                           <p>★★★★★</p>
                           <p>2022-05-05 00:25 | 250 grams</p>
                           <p>Thank you HappyLife. Bought this during 5.5 sale and i am excited to  consume this.
                               It ships fast and I received the item. Thanks</p>
                            <div class="row col-lg-12">
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/13.png' %}">
                                </div>
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/14.png' %}">
                                </div>
                                <div class="col-lg-2 col-md-4 col-6">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/15.png' %}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
    </section>
{% endblock content %}