{% extends 'user/home.html' %}
{% load static %}
{% block content %}
    <section id="view_prod">
        <div class="container">
            <a class="view_link" href="{% url 'user_chamomile' %}"><button class="back-btn py-5">Back</button></a>
        <div class="row">
            <div class="col-lg-6 pt-5">
                <img src="{% static 'images/products/1.png' %}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-6 pt-5">
                <p>HappyLife</p>
				<h6><strong>Chamomile Tea</strong></h6>
				<h6>₱ 355.00</h6>

                <a class="ratings " href="{% url 'user_chamomile' %}#reviews">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"> 1 review/s</i>

                </a>
                <br>
                <p class="pt-4">Description</p>
                <p>Green Tea has a vibrant taste that transforms the
                    expected green tea experience into a lively, more characterful
                    brew, perfect to drink in the afternoon.
                    <br><br>
                    Benefits:  Contains healthy bioactive compounds, May improve brain function,
                    Increases fat burning, Antioxidants may lower the risk of some cancers,
                    May protect the brain from aging, May reduce bad breath, May help prevent type 2 diabetes,
                    May help prevent cardiovascular disease, May help you lose weight, May help you live longer.
                </p>
            </div>
        </div>
      </div>

    </section>
{% endblock content %}