{% extends 'user/home.html' %}
{% load static %}
{% block content %}
<section id="to_receive">

        <div class="container py-5">
            <div class="row">
                    <div class="row col-lg-3">
                            <div class="col-lg-3">
                                <img class="img-fluid rounded-circle" src="{% static 'images/persons/Juan.png' %}">
                            </div>
                            <div class="col-lg-9">
                               <p>Juan Dela Crush</p>
                                <br>
                               <a class="view_link pt-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><p style="font-size:15px;"><strong>My Account</strong></p></a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="#"><strong>Profile</strong></a></li>
                                        <li><a class="dropdown-item" href="{% url 'banks' %}">Banks & Cards</a></li>
                                        <li><a class="dropdown-item" href="{% url 'address' %}">Address</a></li>
                                        <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
                                      </ul>


                                <a class="view_link" href="{% url 'to_receive' %}"><p>My Purchase</p></a>
                                <a class="view_link" href="{% url 'home' %}"><p>Logout</p></a>
                            </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="row col-lg-12 py-2 px-3 pb-5">
                            <p>First Name</p>
                            <p>Middle Name</p>
                            <p>Email Address </p>
                            <p>Phone Number</p>
                            <p>Gender</p>
                            <p>Date of Birth</p>
                        </div>
                        <button type="button" class="btn-active">SAVE</button>
                    </div>

                    <div class="col-lg-4">
                        <div class="row col-lg-12 py-2 px-3">
                            <p>Juan</p>
                            <p> Dela Crush</p>
                            <p>juandelacrush@gmail.com <u>Change</u></p>
                            <p>*********04 <u>Change</u></p>
                            <p>◉ Male  ○ Female  ○ Other</p>
                            <p>20/12/1999</p>

                        </div>
                    </div>

                 <div class="col-lg-2">
                        <div class="row col-lg-12 py-2 px-3">
                                <img class="img-fluid rounded-circle py-2 px-3" src="{% static 'images/persons/Juan.png' %}">
                            <br>
                            <button class="btn-payment py-2 px-3">Select Image</button>
                            <br>
                            <p class="py-2 px-3" style="font-size: 12px;">File size: maximum 1 MB</p>
                            <br>
                            <p class="py-2 px-3" style="font-size: 12px;">File extension: .JPEG, .PNG </p>
                        </div>

                    </div>


            </div>

</section>
{% endblock content %}