{% extends 'user/home.html' %}
{% load static %}
{% block content %}
    <section id="signin-form" >

        <div class="container">
            <a href="{% url 'user_products' %}"><button class="back-btn py-5">Back</button></a>
            <div class="row border rounded pt-3">
                <div class="col-lg-4">
                    <p>Product</p>
                </div>
                <div class="col-lg-2">
                    <p>Unit Price</p>
                </div>
                <div class="col-lg-2">
                    <p>Quantity</p>
                </div>
                <div class="col-lg-2">
                    <p>Total Price</p>
                </div>
                <div class="col-lg-2">
                    <p>Actions</p>
                </div>
            </div>
            <br><br>
            <div class="row border rounded">
            {% for item in items %}
            <div class="row p-3">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-check pt-2">
                              <label class="form-check-label">
                                <img id="cart-image" class="rounded mx-auto d-block" src="{{item.product.imageURL}}">
                              </label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-4 py-3">
                              <p><strong>{{item.product.name}}</strong></p>
                              <p style="font-size:12px;, margin:0;, padding: 0;">50 Bags per Box</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 pt-3">
                    <p>₱ {{item.product.price|floatformat:2}}</p>
                </div>
                <div class="col-lg-2 pt-3">
                        <div class="qty">
                            <span data-product="{{item.product.id}}" data-action="remove" class="minus bg-dark update-cart">-</span>
                            <input type="number" class="count" name="qty" value="{{ item.quantity}}">
                            <span data-product="{{item.product.id}}" data-action="add" class="plus bg-dark update-cart">+</span>
                        </div>
                </div>
                <div class="col-lg-2 pt-3">
                    <p>₱ {{item.get_total}}</p>
                </div>
                <div class="col-lg-2 pt-3">
                    <span data-product="{{item.product.id}}" data-action="delete" class="update-cart">delete</span>
                </div>
            </div>
            {% endfor %}

            </div>
            <br><br>
            <div class="d-flex justify-content-end py-5 px-5 fixed-bottom">
                <div class="p-2 bd-highlight">
                    <h2 style="font-size: 20px">Total( {{order.get_cart_items}} Items): ₱ {{order.get_cart_total|floatformat:2}}</h2>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="{% url 'user_checkout' %}"><button class="btn-add-to-cart">CHECK OUT</button></a>
                </div>
            </div>

        </div>
    </section>
{% endblock content %}