{% extends 'user/home.html' %}
{% load static %}
{% block content %}
    <section id="reviews" >

        <div class="container">
            <button class="back-btn py-4">Back</button>
            <div class="row border rounded py-3 px-3">
                    <div class="row col-lg-3">
                        <div class="col-lg-12">
                            <p>5.0 out of 5</p>
                            <p>★★★★★</p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row col-lg-12">
                            <div class="col-lg-2"><p>All</p></div>
                            <div class="col-lg-2"><p>5 Star(1)</p></div>
                            <div class="col-lg-2"><p>4 Star(1)</p></div>
                            <div class="col-lg-2"><p>3 Star(1)</p></div>
                            <div class="col-lg-2"><p>2 Star(1)</p></div>
                            <div class="col-lg-2"><p>1 Star(1)</p></div>
                            <div class="col-lg-3"><p>With Comments</p></div>
                            <div class="col-lg-2"><p>With Media</p></div>
                        </div>
                     </div>
                </div>
            </div>

        <div class="container">
            <div class="row py-3 px-3">
                    <div class="row col-lg-1">
                        <div class="col-lg-12">
                            <img class="img-fluid rounded-circle" src="{% static 'images/persons/Juan.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-11 pt-4">
                        <div class="row col-lg-12">
                           <p>Huaza Lee</p>
                           <p>★★★★★</p>
                           <p>2022-05-05 00:25 | 250 grams</p>
                           <p>Thank you HappyLife. Bought this during 5.5 sale and i am excited to  consume this.
                               It ships fast and I received the item. Thanks</p>
                            <div class="row col-lg-12">
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/13.png' %}">
                                </div>
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/14.png' %}">
                                </div>
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/15.png' %}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>

        <div class="container">
            <div class="row py-3 px-3">
                    <div class="row col-lg-1">
                        <div class="col-lg-12">
                            <img class="img-fluid rounded-circle" src="{% static 'images/persons/Juan.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-11 pt-4">
                        <div class="row col-lg-12">
                           <p>Huaza Lee</p>
                           <p>★★★★★</p>
                           <p>2022-05-05 00:25 | 250 grams</p>
                           <p>Thank you HappyLife. Bought this during 5.5 sale and i am excited to  consume this.
                               It ships fast and I received the item. Thanks</p>
                            <div class="row col-lg-12">
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/13.png' %}">
                                </div>
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/14.png' %}">
                                </div>
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/15.png' %}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>

        <div class="container">
            <div class="row py-3 px-3">
                    <div class="row col-lg-1">
                        <div class="col-lg-12">
                            <img class="img-fluid rounded-circle" src="{% static 'images/persons/Juan.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-11 pt-4">
                        <div class="row col-lg-12">
                           <p>Huaza Lee</p>
                           <p>★★★★★</p>
                           <p>2022-05-05 00:25 | 250 grams</p>
                           <p>Thank you HappyLife. Bought this during 5.5 sale and i am excited to  consume this.
                               It ships fast and I received the item. Thanks</p>
                            <div class="row col-lg-12">
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/13.png' %}">
                                </div>
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/14.png' %}">
                                </div>
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/15.png' %}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        <div class="container">
            <div class="row py-3 px-3">
                    <div class="row col-lg-1">
                        <div class="col-lg-12">
                            <img class="img-fluid rounded-circle" src="{% static 'images/persons/Juan.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-11 pt-4">
                        <div class="row col-lg-12">
                           <p>Huaza Lee</p>
                           <p>★★★★★</p>
                           <p>2022-05-05 00:25 | 250 grams</p>
                           <p>Thank you HappyLife. Bought this during 5.5 sale and i am excited to  consume this.
                               It ships fast and I received the item. Thanks</p>
                            <div class="row col-lg-12">
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/13.png' %}">
                                </div>
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/14.png' %}">
                                </div>
                                <div class="col-lg-2">
                                    <img class="img-fluid rounded" src="{% static 'images/commentpics/15.png' %}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>

    </section>
{% endblock content %}